<div class="min-h-screen bg-gray-100 dark:bg-gray-900 px-4 py-8">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">
      Our Products
    </h1>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <h2>{{ isLoading$ | async }}</h2>
      @if (true) { @for (_ of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) { } }
      @else if (error$ | async) {
      <!-- <app-err-msg
          [message]="(error$ | async)!"
          class="col-span-full"
        ></app-err-msg> -->
      } @else { @for (product of products$ | async; track product.id) {
      <app-product-card
        [product]="product"
        (onViewClick)="goToProductDetailsPage($event)"
      ></app-product-card>
      } }
    </div>
  </div>
</div>
