<div class="min-h-screen bg-gray-100 dark:bg-gray-900 px-4 py-8">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">
      Our Products
    </h1>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      @if (isLoading$ | async) { @for (_ of [1, 2, 3, 4, 5, 6, 7, 8]; track
      $index) {
      <app-loading-product-card />
      } } @else if (error$ | async) {
      <div class="text-center text-red-600 dark:text-red-400 text-lg py-10">
        Failed to load product. Please try again.
      </div>
      } @else { @for (product of products$ | async; track product.id) {
      <app-product-card
        [product]="product"
        (onViewClick)="goToProductDetailsPage($event)"
      ></app-product-card>
      } }
    </div>
  </div>
</div>
