<div class="bg-gray-100 dark:bg-gray-900 px-4 py-10">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
    <div>
      <p-skeleton
        height="400px"
        class="w-full rounded-2xl bg-gray-200 dark:bg-gray-700"
      ></p-skeleton>
    </div>

    <div class="my-8">
      <div class="my-2">
        <p-skeleton
          width="30%"
          height="1rem"
          class="rounded-md my-2"
        ></p-skeleton>
      </div>

      <div class="my-2">
        <p-skeleton width="70%" height="2rem" class="rounded-md"></p-skeleton>
      </div>

      <div class="my-8">
        <div class="my-2">
          <p-skeleton
            width="100%"
            height="1rem"
            class="rounded-md"
          ></p-skeleton>
        </div>
        <div class="my-2">
          <p-skeleton width="95%" height="1rem" class="rounded-md"></p-skeleton>
        </div>
        <div class="my-2">
          <p-skeleton width="90%" height="1rem" class="rounded-md"></p-skeleton>
        </div>
        <div class="my-2">
          <p-skeleton width="85%" height="1rem" class="rounded-md"></p-skeleton>
        </div>
      </div>

      <div class="my-2">
        <p-skeleton
          width="25%"
          height="1.75rem"
          class="rounded-md"
        ></p-skeleton>
      </div>

      <div class="flex items-center gap-4">
        <p-skeleton width="60px" height="1rem" class="rounded-md"></p-skeleton>
        <p-skeleton width="120px" height="1rem" class="rounded-md"></p-skeleton>
      </div>
    </div>
  </div>
</div>
